
.form{
    height: 40rem;
    width: 100%;
    /* border: 1px solid red; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    background-color:rgb(132, 131, 131);
    border-radius: 10px;
}
.con1{
    height: 10%;
    width: 100%;
    /* border: 1px dotted red; */
    font-family: 'Jura', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    /* word-spacing: 2px; */
    font-weight: 700;
}
.con2{
    height: 40%;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: medium;
    font-family: 'Jura', sans-serif;
    padding: 15px;
    outline: none;
    resize: none;

}

.con3{
    height: 10%;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: medium;
    padding: 15px;
    font-family: 'Jura', sans-serif;
    padding: 15px;
    outline: none;
    resize: none;
}

.con4{
    height: 15%;
    width: 100%;
    /* border: 1px dotted red; */
    display: flex;
    gap: 30px;
}
.con4 .con11{
    height: 60%;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size:medium;
    font-family: 'Jura', sans-serif;
    padding: 12px;
    /* padding: 5px; */
    outline: none;
    resize: none;
}
.con5{
    height: 8%;
    width: 40%;
    /* border: 1px dotted red; */
    display: flex;
    align-items: center;
    justify-content:center;
    outline: none;
    border: none;
    font-size: large;
    font-family: 'Jura', sans-serif;
    border-radius: 4px;
    color: var(--back-ground);
    background-color:var(--font-col) ;
     cursor: pointer;
}


@media only screen and (max-width: 576px){
   .form{
    margin-bottom: 3rem;
    height: 45rem;
   }
   .con4{
    flex-direction: column;
    height: 20%;
   }
   .con4 .con11{
    height: 50%;
   }
}